.tizers {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
}

.tizer__item--text {
  padding-top: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #0587d6;
}
