.header {
  display: flex;
}

.container {
  margin: 0 auto;
  align-items: center;
}

.header__row {
  margin-top: 24px;
  display: flex;
  padding: 0 80px;
}
.header__mail {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.text__mail {
  color: #0587d6;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 28.8px;
  align-items: center;
  padding-left: 8px;
}

.header__social {
  display: flex;
  align-items: center;
}

.social__block {
  padding-left: 164px;
}

.text__networks {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #333333;
  padding-left: 12px;
}

.number__block {
  padding-left: 100px;
  display: flex;
}
.img__number {
  width: 34px;
}
.text__number {
  padding: 5.76px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #333333;
}

.header__logo {
  padding-left: 164px;
}

/* НАДО РАЗОБРАТЬСЯ С ЛОГО (МЕНЯЕТ РАЗМЕР ПРИ СУЖЕНИЕ МАСШТАБА) */

/* --------------------------------------------------------------------------- */

.header__nav {
  margin-top: 16px;
  height: 64px;
  background-color: rgba(0, 68, 149, 1);
  display: flex;
  gap: 74px;
  align-items: center;
  justify-content: center;
}

.header__nav--item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav__item--text {
  color: #ffffff;
}
