.trip {
  padding-top: 80px;
  /* padding-bottom: 48px; */
}

.trip__tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  color: #0587d6;
}

.trip__title--line {
  box-sizing: border-box;
  border: 1px dashed #0587d6;
  width: 292px;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 8px;
}

.trip__icone {
  padding-top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip__train {
  padding-right: 205px;
}

.trip__train--txt {
  font-family: "Rubik";
  padding-top: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #0587d6;
}
